$green: #8DBFAC;
$monserat-medium: "Montserrat Medium", sans-serif;
$monserat-bold: "Monserrat Bold", sans-serif;

.main-block-lost {
  font-family: $monserat-medium;
  color: $green;

  .tags-for-search {
    margin-top: 26px;
    height: 30px;

    input {
      height: 30px;
      border: 1px solid $green;
      border-radius: 15px;
      font-size: 12px;
      padding-left: 10px;
      margin-right: 12px;
    }

    input:nth-of-type(1) {
      margin-left: 10px;
    }

    input:nth-of-type(1),
    input:nth-of-type(2) {
      width: 145px;
    }

    input:nth-of-type(3) {
      width: 337px;
    }

    input:nth-of-type(4) {
      width: 226px;
    }
  }

  .pet-info-container {
    width: 651px;
    height: 278px;
    margin-left: 19px;
    margin-top: 38px;
    box-shadow: 0 3px 6px #00000029;
    padding-left: 13px;

    .pet-photo {
      width: 250px;
      height: 250px;
      background-repeat: no-repeat;
      background-size: 250px;
      margin-top: 15px;
    }

    .pet-info {
      display: grid;
      grid-template-rows: 30px 65px 71px 97px;

      .breed {
        margin-top: 10px;
        font-family: $monserat-bold;
        font-size: 22px;
        font-weight: 700;
      }

      .details {
        margin-top: 12px;
        font-size: 12px;
        color: #393939;

        p {
          width: 100%;
          margin-bottom: 0;

          span {
            color: $green;
          }
        }
      }

      .description {
        margin-top: 15px;
        font-size: 12px;
        color: #393939;

          span {
            color: $green;
          }
      }

      .info-footer {
        margin-top: 13px;
        width: 90%;
        border-top: 1px solid #00000029;
        font-size: 12px;
        color: #393939;

        p {
          margin-top: 3px;

          i {
            margin-right: 10px;
            color: $green;
          }
        }

        .footer-picture-name-container {
          img {
            width: 43px;
            height: 43px;
            margin-right: 10px;
            border-radius: 50%;
          }

          p {
            height: fit-content;
            margin-bottom: 0;
            font-family: $monserat-bold;
            font-size: 16px;
            font-weight: 700;
            color: $green;
          }

          .date {
            font-family: $monserat-medium;
            font-size: 12px;
            font-weight: 400;
            color: #BABABA;
          }
        }

        .icons {
          color: #BABABA;
          font-size: 18px;

          i {
            margin-right: 13px;
          }
        }
      }
    }
  }
}