$green: #8DBFAC;
$monserat-bold: "Monserrat Bold", sans-serif;
$monserat-medium: "Montserrat Medium", sans-serif;

.main-block-lost-form {
  font-size: 16px;
  color: $green;

  .header-form-lost {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0;
    font-family: $monserat-bold;
    font-weight: 700;
  }

  .lost-form-container {
    width: 641px;
    height: 503px;
    box-shadow: 0 3px 6px #00000029;
    padding-left: 13px;
    margin-left: 19px;
    margin-top: 30px;

    .basic-pet-info {
      margin-top: 11px;
      font-family: $monserat-medium;
      font-size: 12px;
      color: #393939;

      .labels {
        box-sizing: border-box;
        float: left;
        width: 30%;

        label {
          display: block;
          text-align: right;
          margin-bottom: 3px;
          margin-right: 17px;
          padding-top: 3px;
        }

        .features {
          margin-top: 11px;
        }

        .description {
          margin-top: 20px;
        }

        .location {
          margin-top: 90px;
        }

        .file {
          margin-top: 30px;
        }

        .file-for-mobile {
          position: relative;
          top: 60px;
          padding: 7px 16px 8px 16px;
          border: 1px solid $green;
          border-radius: 15px;
          color: $green;
          cursor: pointer;
          text-align: center;
        }
      }

      .inputs {
        box-sizing: border-box;
        float: right;
        width: 70%;

        select {
          display: block;
          border: none;
          margin-bottom: 3px;
          padding-top: 3px;
        }

        input {
          display: block;
          margin-bottom: 3px;
          border: none;
          border-bottom: 1px solid $green;
        }

        textarea {
          border-color: $green;
        }

        .features-input {
          margin-top: 12px;
        }

        .description-input {
          margin-top: 16px;
        }

        .location-input {
          margin-top: 10px;
        }
      }
    }

    .images {
      font-family: $monserat-medium;

      .scale {
        width: 192px;
        height: 183px;
        margin-top: 17px;
        margin-left: 16px;
        background-image: url(../../../../img/Screenshot_Scale.png);
        background-repeat: no-repeat;
        background-size: 192px 183px;
      }

      .drag-and-drop {
        width: 90%;
        margin-top: 30px;
        border-top: 1px solid #BABABA;
        font-size: 12px;
        color: #393939;
        text-align: center;

        .fa-sign-out {
          margin-top: 25px;
          margin-bottom: 7px;
          transform: rotate(-90deg);
          font-size: 30px;
          color: $green;
        }

        label {
          padding: 7px 16px 8px 16px;
          border: 1px solid $green;
          border-radius: 15px;
          color: $green;
          cursor: pointer;
        }
      }

      .file-browser {
        margin-top: 25px;
        margin-left: 10px;
        border: 1px solid $green;
        width: 142px;
        height: 111px;
        color: $green;
      }

      .file-browser::-webkit-file-upload-button {
        visibility: hidden;
      }
    }

    .contacts {
      margin-top: 20px;
      border-top: 1px solid #BABABA;

      label {
        margin-top: 16px;
        margin-bottom: 0;
        font-size: 12px;
        color: #393939;
      }

      input {
        margin-left: 23px;
        border: none;
        border-bottom: 1px solid $green;
        color: $green;
      }

      input:nth-of-type(2) {
        margin-left: 50px;
      }

      input:nth-of-type(3) {
        margin-left: 43px;
      }
    }

    .footer-form {
      margin-top: 10px;

      img {
        width: 43px;
        height: 43px;
        margin-right: 13px;
        border-radius: 50%;
      }

      p {
        align-self: center;
        height: fit-content;
        margin-bottom: 0;
        font-family: $monserat-bold;
        font-weight: 700;
      }
    }

    .footer-form-submit-btn {
      margin-top: 10px;
      margin-right: 20px;
      width: 148px;
      height: 34px;
      justify-content: space-around;
      background-color: $green;
      font-size: 12px;
      border-radius: 17px;
      color: white;
    }
  }

  .mobile-form-btn {
    position: relative;
    bottom: 740px;
    left: 85%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 56px;
  }

  .form-right-side {
    background-color: $green;
  }
}

@media screen and (max-width: 1023px){
  .main-block-lost-form {
    .form-right-side {
      display: none;
    }
  }
}

@media screen and (min-width: 601px){
  .main-block-lost-form {
    .lost-form-container {
      .basic-pet-info {
        .labels {
          .file {
            display: none;
          }

          .file-for-mobile {
            display: none;
          }
        }
      }
    }

    .mobile-form-btn {
      display: none;
    }
  }
}

@media screen and (max-width: 600px){
  .main-block-lost-form {
    font-size: 24px;

    .lost-form-container {
      width: 90%;
      height: fit-content;

      .basic-pet-info {
        .labels {
          height: fit-content;

          .location {
            margin-top: 70px;
          }
        }

        .inputs {
          .features-input {
            margin-top: 5px;
          }

          .description-input {
            margin-top: 5px;
          }

          .location-input {
            margin-top: 5px;
          }
        }
      }

      .images {
        .scale {
          display: none;
        }

        .drag-and-drop {
          border: none;
          margin-top: 0;

          .fa-sign-out {
            display: none;
          }

          p {
            display: none;
          }

          label {
            display: none;
          }

          div {
            justify-content: center;

            .file-browser {
              position: relative;
              bottom: 55px;
              margin-top: 0;
              margin-left: 30px;
            }
          }
        }
      }

      .contacts-container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 410px){
  .main-block-lost-form {
    .lost-form-container {
      .images {
        .drag-and-drop {

          div {
            .file-browser {
              margin-left: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 379px){
  .main-block-lost-form {
    .lost-form-container {
      .images {
        .drag-and-drop {

          div {
            .file-browser {
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 345px){
  .main-block-lost-form {
    .lost-form-container {
      .basic-pet-info {
        .labels {
          .file-for-mobile {
            padding-left: 10px;
          }
        }
      }
      .images {
        .drag-and-drop {
          div {
            .file-browser {
              margin-left: 55px;
            }
          }
        }
      }
    }
    .mobile-form-btn {
      bottom: 770px;
    }
  }
}