$green: #8DBFAC;
$monserat-medium: "Montserrat Medium", sans-serif;

.aside-block {
  display: flex;
  flex-direction: column;
  background-color: $green;
  width: 100%;
  font-family: $monserat-medium;

  .aside-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    color: white;

    svg {
      position: absolute;
      top: 150px;
      left: 0;
      fill: white;
    }

    ul {
      list-style: none;
      margin-right: 50px;
      margin-top: 32px;
      z-index: 1;
    }

    li {
      margin-bottom: 20px;
      cursor: pointer;

      i {
        margin-right: 13px;
      }
    }
  }

  .profile {
    align-self: flex-end;
    margin-right: 10px;
    width: 50%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 12px;
    color: white;

    .profile-picture {
      margin-top: 30px;
      margin-bottom: 54px;

      img {
        vertical-align: top;
        width: 35px;
        height: 35px;
        border: 1px solid white;
        border-radius: 50%;
      }
    }

    p {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 0;
      cursor: pointer;
    }

    span {
      display: block;
      margin-bottom: 30px;
      cursor: pointer;

      i {
        margin-right: 10px;
      }
    }
  }

  ul .selected {
    color: $green;
  }
}