$green: #8DBFAC;
$grayForShadow: #00000029;
$yellow: #FFE18B;

.header {
  background-color: $green;
  box-shadow: 0 3px 6px $grayForShadow;
  opacity: 1;

  .menu-burger-btn {
    display: none;
  }

  .header-logo {
    margin: 24px 0 24px 151px;
    width: 142px;
    height: 33px;
    opacity: 1;
  }

  .header-signin-btn {
    margin: 18px 160px 18px 0;
    width: 112px;
    height: 34px;
    border: 1px solid white;
    border-radius: 17px;
    opacity: 1;
    font-family: "Montserrat Medium", sans-serif;
    background-color: $green;
    color: white;
  }

  .header-signin-btn:hover {
    background-color: $yellow;
  }
}

@media screen and (max-width: 600px){
  .header {
    .menu-burger-btn {
      display: flex;
      margin-top: 12px;
      font-size: 32px;
      color: white;
      cursor: pointer;

      .cross {
        margin-top: -5px;
      }
    }

    .header-signin-btn {
      display: none;
    }

    .header-logo {
      margin: 24px 0;
    }
  }
}